@import url("reset.css");
/* * {
  margin: 0;
  padding: 0;
} */
h1,
h2,
h3 {
  text-align: center;
  background: rgb(179, 179, 241);
  padding: 10px 0;
  border: 2px solid blue;
  /* margin: 20px; */
}
h1 + img {
  width: 100%;
}
/* p + img {
  clear: both;
} */
ul + h1 {
  clear: both;
}
p > img {
  border: 2px solid red;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  margin-left: 16px;
}
p {
  width: 1000px;
  margin: 0 auto;
  text-align: justify;
  text-indent: 20px;
  border: 2px solid purple;
  padding: 16px;
  /* box-sizing: border-box; */
}
p:hover {
  background: black;
  color: white;
  transition: 3s;
}
p:hover img {
  float: left;
}
p::first-letter {
  font-size: 4em;
  float: left;
  padding: 10px;
  color: purple;
}

ul {
  background: black;
  text-align: center;
}
ul > li {
  border: 1px solid black;
  display: inline-block;
  /* float: left; */
}

ul > li > a {
  background: black;
  padding: 20px;
  display: block;
  color: white;
  text-decoration: none;
}

ul > li > a:hover {
  background: grey;
  transition: 1s;
}
